@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
}

/* Kode Warna */
:root {
    --warna1: #2eb4ad;
    --warna2: #ffffff;
    --warna3: rgb(246, 255, 251);
    --warna4: #d3db25;
    --warna5: #63c6c2;
    --warna6: #bbbbbb;
    --warna7: #6c6c6c;
}

body {
    background: repeating-linear-gradient(90deg, #e6fff5 0, #e6fff5 5%, transparent 0, transparent 50%), repeating-linear-gradient(180deg, #e6fff5 0, #e6fff5 5%, transparent 0, transparent 50%);
    background-size: 3em 3em;
    opacity: 1;
}

.judul,
.selection-form {
    /* background-color: red !important; */
    color: var(--warna7);
}

#regForm {
    background-color: var(--warna2);
    margin: 0px auto;
    padding: 40px;
    border-radius: 10px;
    border: 2px solid var(--warna5);
}

#register {
    color: var(--warna1);
}

h1 {
    text-align: center;
}

/* FORM CONTROL */
.pertanyaan input,
.selection-form {
    padding: 10px;
    width: 100%;
    font-size: 17px;
    border: 1px solid #aaaaaa;
    border-radius: 10px;
    -webkit-appearance: none;
    appearance: none;
    /* background-color: #2eb4ad; */
}

.selection-form:focus,
.tab input:focus {
    border: 1px solid var(--warna1) !important;
    outline: none;
}

.selection-form .invalid {
    border: 2px solid #d2191966;
}

.pertanyaan input.invalid {
    border: 2px solid #d2191966;
}

/* END FORM CONTROL */

.tab {
    display: none;
    background-color: #d3db25;
}

button {
    background-color: var(--warna1);
    color: var(--warna2);
    border: none;
    border-radius: 50%;
    padding: 10px 20px;
    font-size: 17px;
    cursor: pointer;
}

button:hover {
    opacity: 0.8;
}

button:focus {
    outline: none !important;
}

#prevBtn {
    background-color: var(--warna6);
}


.all-steps {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
    width: 100%;
    display: inline-flex;
    justify-content: center;
}

.step {
    height: 40px;
    width: 40px;
    margin: 0 2px;
    background-color: var(--warna6);

    border: none;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    color: var(--warna2);
    opacity: 0.5;
}

.step.active {
    opacity: 1;
}


.step.finish {
    color: var(--warna2);
    background: var(--warna1);
    opacity: 1;
}

.all-steps {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px
}

.thanks-message {
    display: none
}